<div class="overflow-x-auto">
<h1 class="text-2xl font-bold mb-4">Deferred Income</h1>
<p class="text-xl mb-6">
  <%= number_to_currency current_user.current_team.mrr(Date.today) %>
</p>


<table class="table-auto w-full">
  <thead>
    <tr>
      <th class="px-4 py-2">Month</th>
      <th class="px-4 py-2">Recognised Amount</th>
      <th class="px-4 py-2">Added Amount</th>
      <th class="px-4 py-2">Change</th>
    </tr>
  </thead>
  <tbody>
    <% @mrr_by_month.each do |month, value| %>
      <tr>
        <td class="border px-4 py-2"><%= link_to month.strftime("%B %Y"), charges_path(date: month) %></td>
        <td class="border px-4 py-2"><%= number_to_currency value[:mrr] %></td>
        <td class="border px-4 py-2"><%= number_to_currency value[:added_amount] %></td>
        <td class="border px-4 py-2"><%= number_to_currency value[:mrr] - value[:added_amount] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>